<div class="container">
    <h1 >AÑADIR SUSCRIPCION</h1>
  
        <mat-form-field class="example-full-width">
          <mat-label>Id</mat-label>
          <input matInput placeholder="id" [(ngModel)]= "suscripcion.idSuscripcion">
        </mat-form-field>
  
        <br>
  
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput required placeholder="nombre" [(ngModel)]= "suscripcion.nombreSuscripcion">
  
        </mat-form-field>
  
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Descripcion</mat-label>
          <input matInput required placeholder="precio" [(ngModel)]= "suscripcion.precioSuscripcion">
        </mat-form-field>
  
  
        <br>
  
        <mat-form-field class="example-full-width">
          <mat-label>Duracion</mat-label>
          <input matInput required placeholder="fechainicio" [(ngModel)]= "suscripcion.fechaInicio">
  
        </mat-form-field>
  
        <br>
  
        <mat-form-field class="example-full-width">
          <mat-label>Duracion</mat-label>
          <input matInput required placeholder="fechafin" [(ngModel)]= "suscripcion.fechaFin">
  
        </mat-form-field>
  
        <br>
  
  

        <mat-form-field appearance="fill">
          <mat-label>Seleccione Tipo Suscripcion</mat-label>
          <mat-select [(value)]="idTipoSuscripcionSeleccionado" required>
              <mat-option *ngFor="let a of listaTipoSuscripcion" [value]="a.idTipoSuscripcion"> {{a.nombreTipoSuscripcion}}</mat-option>
          </mat-select>
      </mat-form-field>
      <br>
  
  
        <button mat-raised-button color="success" (click)="aceptar()">Aceptar</button>
        <button mat-raised-button color="success2" routerLink="/suscripcion">Cancelar</button>
        <p>{{mensaje}}</p>
  
      </div>
  
  