h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(49, 1, 94);
    font-weight: 20000px;
  }
  
  button {
    margin: 16px;
    object-position: center;
    text-align: center;
    font-size: 130%;
  }
  
  .mat-form-field {
    text-align: center;
    font-size: 0.5cm;
    justify-content: center;
    width: 40%;
  }
  
  .container {
    text-align: center;
  
  }
  .mat-success2 {
    color: #fff;
    background-color: rgb(184, 71, 143);
  }
  .mat-success {
    color: #fff;
    background-color:#6610f2 ;
  }