<div class="container">

    <h1>Categoria</h1>
  
    <mat-form-field class="example-full-width">
      <mat-label>Id</mat-label>
      <input matInput placeholder="Id" [(ngModel)]="categoria.id">
    </mat-form-field>
  
    <br>
  
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput required placeholder="Nombre" [(ngModel)]="categoria.nombreCategoria">
  
    </mat-form-field>
  
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Descripcion</mat-label>
      <input type="Descripcion" matInput required placeholder="Descripcion" [(ngModel)]="categoria.descripcionCategoria">
    </mat-form-field>

    
  
    <br>
    <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/categoria">Cancelar</button>
    <p>{{mensaje}}</p>
  
  </div>