h1 {
  padding-top: 13%;
  padding-bottom: 3%;
  text-align: center;
  font-size: 50px;
  font-family: 'Poppins';
  font-weight: 600;
  color: rgb(42, 41, 41);
}

button {
  margin: 16px;
  object-position: center;
  text-align: center;
  font-size: 130%;
}

.mat-form-field {
  text-align: center;
  font-size: 0.5cm;
  justify-content: center;
  width: 40%;
}

.container {
  text-align: center;

}
.mat-success2 {
  color: #fff;
  background-color: #f9516b;
}
.mat-success {
  color: #fff;
  background-color: #5cd2fa;
}
