p {
    font-size: 17px;
    text-align: center;
}

button {
    object-position: center;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
  .mat-success2 {
    color: #fff;
    background-color: #f9516b;
  }
  .mat-success {
    color: #fff;
    background-color:#5cd2fa;
  }
