<div class="container">
    <br><br><br><br>
    <h1 >Añadir Usuario</h1>
    <br>
        <mat-form-field class="example-full-width">
          <mat-label>Id</mat-label>
          <input matInput placeholder="id" [(ngModel)]="usuario.idUsuario">
        </mat-form-field>
      
        <br>
      
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput required placeholder="nombre" [(ngModel)]="usuario.nombreUsuario">
      
        </mat-form-field>
      
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Apellido</mat-label>
          <input matInput required placeholder="descripcion" [(ngModel)]="usuario.apellidoUsuario">
        </mat-form-field>
    
              
        <br>
      
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput required placeholder="nombre" [(ngModel)]="usuario.correoUsuario">
      
        </mat-form-field>
              
        <br>
      
        <mat-form-field class="example-full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput required placeholder="nombre" [(ngModel)]="usuario.contrasenaUsuario">
      
        </mat-form-field>
      
        <br>
      
        <mat-form-field class="example-full-width">
          <mat-label>Edad</mat-label>
          <input matInput required placeholder="nombre" [(ngModel)]="usuario.edadUsuario">
      
        </mat-form-field>

        <br>
      
        <mat-form-field class="example-full-width">
          <mat-label>Telefono</mat-label>
          <input matInput required placeholder="nombre" [(ngModel)]="usuario.telefonoUsuario">
      
        </mat-form-field>

        <br>
        <mat-form-field appearance="fill">
            <mat-label>Seleccione Categoria</mat-label>
            <mat-select [(value)]="idCategoriaSeleccionado" required>
                <mat-option *ngFor="let q of listaCategorias" [value]="q.idCategoria"> {{q.nombreCategoria}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Seleccione Suscripcion</mat-label>
            <mat-select [(value)]="idSuscripcionSeleccionado" required>
                <mat-option *ngFor="let r of listaSuscripciones" [value]="r.idSuscripcion"> {{r.nombreSuscripcion}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <br>

        <mat-form-field appearance="fill">
            <mat-label>Seleccione Role</mat-label>
            <mat-select [(value)]="idRoleSeleccionado" required>
                <mat-option *ngFor="let p of listaRoles" [value]="p.idRole"> {{p.nombreRole}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <br>
      

        <button mat-raised-button color="success" (click)="aceptar()">Aceptar</button>
        <button mat-raised-button color="success2" routerLink="/usuario">Cancelar</button>
        <p>{{mensaje}}</p>
      
      </div>