@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
  padding-top: 15%;
  padding-bottom: 3%;
  text-align: center;
  font-size: 50px;
  font-family: 'Poppins';
  font-weight: 600;
  color: rgb(61, 61, 61);
}

button {
  margin: 16px;
  object-position: center;
  text-align: center;
  font-size: 130%;
}

.mat-form-field {
  text-align: center;
  font-size: 0.5cm;
  justify-content: center;
  width: 40%;
}

.container {
  text-align: center;

}
.mat-success2 {
  color: #fff;
  background-color: #f9516b;
}
.mat-success {
  color: #fff;
  background-color: #5cd2fa
  ;
}
