<!DOCTYPE html>
<html lang="es">

<body>

  <header>
    <th><img src="logo.png" alt="logo" width="100" height="100">
      <h2> BienestarFy</h2>
    </th>
  </header>
  <menu class="menu">

    <table></table>
    <ul>
      <nav>
        <li class="indice">

          <a routerLink="/actividad">Actividad</a>
          <a routerLink="/tipoactividad">Tipo de Actividad</a>
          <a routerLink="/categoria">Categoria</a>
          <a routerLink="/horario">Horario</a>
          <a routerLink="/tipohorario">Tipo de Horario</a>
          <a routerLink="/reserva">Reserva</a>
          <a routerLink="/role">Rol</a>
          <a routerLink="/suscripcion">Suscripcion</a>
          <a routerLink="/tiposuscripcion">Tipo de Suscripcion</a>
          <a routerLink="/usuario">Usuario</a>
        </li>
      </nav>
    </ul>
  </menu>

  <router-outlet></router-outlet>
  <app-categoria></app-categoria>
</body>

</html>