<!DOCTYPE html>
<html lang="es">

<body>
  <mat-toolbar>
    <header>
      <span><img src="logo.png" alt="logo" width="100" height="100"> 
        <a style="color: rgb(0, 0, 88)">BienestarFy </a>
      </span>
    </header>
    <div class="spacer"> </div>
          <a mat-button routerLink="/actividad">Actividad</a>
          <a mat-button routerLink="/tipoactividad">Tipo de Actividad</a>
          <a mat-button routerLink="/categoria">Categoria</a>
          <a mat-button routerLink="/detalle-reserva">Detalle Reserva</a>
          <a mat-button routerLink="/horario">Horario</a>
          <a mat-button routerLink="/tipohorario">Tipo de Horario</a>
          <a mat-button routerLink="/reserva">Reserva</a>
          <a mat-button routerLink="/role">Rol</a>
          <a mat-button routerLink="/suscripcion">Suscripcion</a>
          <a mat-button routerLink="/tiposuscripcion">Tipo de Suscripcion</a>
          <a mat-button routerLink="/usuario">Usuario</a>
  </mat-toolbar>

  <router-outlet></router-outlet>
  <app-categoria></app-categoria>
</body>

</html>