<!DOCTYPE html>
<html lang="es">

<body>
  <mat-toolbar>
    <header>
      <div>
        <img src="logo_bienestarfy.png" alt="logo">
      </div>
    </header>

    <a class=".link" mat-button routerLink="/actividad">ACTIVIDAD</a>
    <a class=".link" mat-button routerLink="/tipoactividad">TIPO ACTIVIDAD</a>
    <a class=".link" mat-button routerLink="/categoria">CATEGORIA</a>
    <a class=".link" mat-button routerLink="/detallereserva">DETALLE RESERVA</a>
    <a class=".link" mat-button routerLink="/horario">HORARIO</a>
    <a class=".link" mat-button routerLink="/tipohorario">TIPO HORARIO</a>
    <a class=".link" mat-button routerLink="/reserva">RESERVA</a>
    <a class=".link" mat-button routerLink="/role">ROL</a>
    <a class=".link" mat-button routerLink="/suscripcion">SUSCRIPCIÓN</a>
    <a class=".link" mat-button routerLink="/tiposuscripcion">TIPO SUSCRIPCIÓN</a>
    <a class=".link" mat-button routerLink="/usuario">USUARIO</a>
    

  </mat-toolbar>

  <router-outlet></router-outlet>
  <app-categoria></app-categoria>
</body>

</html>
