.title {
  text-align: center;
  font-size: 80px;
  justify-content: center;
  margin: 15px 0;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: darkmagenta;
  cursor: pointer;
  padding: 0 15px;
  font-size: 20px;
  text-align: center;
}

body{
  background-image: url("body.jpg");
  background-size: cover;
}
th{
  background-image: url("logo.png");
  border-image-width: 1cm;
  padding: 2cm;
}
h2{
  color: rgb(16, 0, 117);
  font-style:unset;
}
.spacer{
  flex: 1 1  auto ;
}
.mat-toolbar{
  height: 120px;
  background-color: rgba(0, 0, 0, 0.2)
}
