<div class="container">
    <h1 >AÑADIR ACTIVIDAD</h1>
        <mat-form-field class="example-full-width">
          <mat-label>Id</mat-label>
          <input matInput placeholder="id" [(ngModel)]= "actividad.idActividad">
        </mat-form-field>
  
        <br>
  
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput required placeholder="nombre" [(ngModel)]= "actividad.nombreActividad">
  
        </mat-form-field>
  
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Descripcion</mat-label>
          <input matInput required placeholder="descripcion" [(ngModel)]= "actividad.descripcionActividad">
        </mat-form-field>
  
  
        <br>
  
        <mat-form-field class="example-full-width">
          <mat-label>Duracion</mat-label>
          <input matInput required placeholder="duracion" [(ngModel)]= "actividad.duracionActividad">
  
        </mat-form-field>
  
        <br>
  
        <mat-form-field appearance="fill">
            <mat-label>Seleccione Usuario</mat-label>
            <mat-select [(value)]="idUsuarioSeleccionado" required>
                <mat-option *ngFor="let p of listaUsuarios" [value]="p.idUsuario"> {{p.nombreUsuario}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
  
        <mat-form-field appearance="fill">
          <mat-label>Seleccione Tipo Actividad</mat-label>
          <mat-select [(value)]="idTipoActividadSeleccionado" required>
              <mat-option *ngFor="let a of listaTipoActividad" [value]="a.idTipoActividad"> {{a.nombreTipoActividad}}</mat-option>
          </mat-select>
      </mat-form-field>
      <br>
  
  
        <button mat-raised-button color="success" (click)="aceptar()">Aceptar</button>
        <button mat-raised-button color="success2" routerLink="/actividad">Cancelar</button>
        <p>{{mensaje}}</p>
  
      </div>
  
  