<div class="container">
    <h1 >MAYOR DESCUENTO POR TIPO DE SUSCRIPCION</h1>
    <br>   
    <br>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.idTipoSuscripcion }}</td>
      </ng-container>
  
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.nombreTipoSuscripcion }}</td>
      </ng-container>
  
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell *matCellDef="let element">{{ element.descripcionTipoSuscripcion }}</td>
  
      </ng-container>
  
      <ng-container matColumnDef="descuento">
        <th mat-header-cell *matHeaderCellDef>Descuento</th>
        <td mat-cell *matCellDef="let element">{{ element.descuentoTipoSuscripcion }}</td>
      </ng-container>
  
      
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <!-- <button mat-raised-button color="success2"
          [routerLink]="'tiposuscripcion'">TABLA RESERVA USUARIO</button>
     -->
  </div>