
<div class="container">
  <br><br><br><br>
  <h1 >Añadir Tipo de Actividad
  </h1>
  <br>
  <br><br>
    <mat-form-field  class="example-full-width">
      <mat-label>Id</mat-label>
      <input matInput placeholder="Id" [(ngModel)]="tipoactividad.idTipoActividad">
    </mat-form-field>
  
    <br>
  
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput required placeholder="name" [(ngModel)]="tipoactividad.nombreTipoActividad">
  
    </mat-form-field>
  
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Descripcion</mat-label>
      <input type="email" matInput required placeholder="email" [(ngModel)]="tipoactividad.descripcionTipoActividad">
    </mat-form-field>

    
  
    <br>
    <button mat-raised-button color="success" (click)="aceptar()">Aceptar</button>
    <button mat-raised-button color="success2" routerLink="/tipoactividad">Cancelar</button>
    <p>{{mensaje}}</p>
  
  </div>