<div class="container">
    <h1 >AÑADIR RESERVA</h1>
  
        <mat-form-field class="example-full-width">
          <mat-label>Id</mat-label>
          <input matInput placeholder="id" [(ngModel)]= "reserva.idReserva">
        </mat-form-field>
  
        <br>
  
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput required placeholder="nombre" [(ngModel)]= "reserva.nombreReserva">
  
        </mat-form-field>


        <!-- <br>
        <label class="example-full-width">
          <mat-label>Fecha</mat-label>
           <p>{{currentDate | date: 'dd-MM-YYYY : HH:mm'}}</p>
        </label> -->
        <br> 
  
        <mat-form-field appearance="fill">
          <mat-label>Fecha </mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="fecha" [max]="maxFecha" [min]="minFecha">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>


        <mat-form-field appearance="fill">
            <mat-label>Seleccione Usuario</mat-label>
            <mat-select [(value)]="idUsuarioSeleccionado" required>
                <mat-option *ngFor="let p of listaUsuarios" [value]="p.idUsuario"> {{p.nombreUsuario}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
  
        <mat-form-field appearance="fill">
          <mat-label>Seleccione Horario</mat-label>
          <mat-select [(value)]="idHorarioSeleccionado" required>
              <mat-option *ngFor="let a of listaHorarios" [value]="a.idHorario"> {{a.fechaHorario}}</mat-option>
          </mat-select>
      </mat-form-field>
      <br>
  
  
        <button mat-raised-button color="success" (click)="aceptar()">Aceptar</button>
        <button mat-raised-button color="success2" routerLink="/reserva">Cancelar</button>
        <p>{{mensaje}}</p>
  
      </div>
  
  