<div class ="container">
  <h1 >RESERVA</h1>

  <app-reserva-buscar></app-reserva-buscar>
  <table mat-table [dataSource]= "dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef= "let element"> {{element.idReserva}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef= "let element"> {{element.nombreReserva}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef= "let element"> {{element.fechaReserva}} </td>
      </ng-container>

    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef> Usuario </th>
      <td mat-cell *matCellDef= "let element"> {{element.usuario.nombreUsuario}} </td>
    </ng-container>
    <ng-container matColumnDef="horario">
      <th mat-header-cell *matHeaderCellDef> Horario</th>
      <td mat-cell *matCellDef= "let element"> {{element.horario.nombreHorario}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef= "let element">
        <button mat-raised-button color="success"
              [routerLink]= "['edicion', element.idReserva]">Actualizar</button>
        <button mat-raised-button color="success2" (click)="confirmar(element.idReserva)">Eliminar</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef= "displayedColumns"></tr>
    <tr mat-row *matRowDef= "let row; columns: displayedColumns;"></tr>
  </table>


  <button mat-mini-fab color="success" aria-label="Example icon button with a plus one icon"
    routerLink="/reserva/nuevo">
    <mat-icon>plus_one</mat-icon>
  </button>
</div>
